In [1]:
# importing all packages
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
df_train = pd.read_csv('./datasets/train.csv')
df_test = pd.read_csv('./datasets/test.csv')

In [3]:
df_train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [4]:
df_test.shape

(878, 80)

In [5]:
df_train.shape

(2051, 81)

In [6]:
df_test.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [7]:
# need to convert categorical columns into numbers, because machine learning models only work with numbers
# "dummy" the columns from above comment, like we did with titanic lab

In [8]:
df_train.set_index('Id', inplace = True)

In [9]:
# We are allowed to drop rows from Training sets where there are outliers
# We are NOT allowed to drop rows from Testing sets
# if we add columns to Training set, we need to add them to testing set as well

## 1. EDA

In [10]:
df_train.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [11]:
df_test.set_index('Id', inplace = True)

In [12]:
df_test.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
Id,,,,,,,,,,,,,,,,,,,,,
2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,AllPub,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [13]:
df_train.loc[[544], :]

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000

In [14]:
df_train.describe()

,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2.051000e+03,2051.000000,1721.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2029.000000,2050.000000,...,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000
mean,7.135900e+08,57.008776,69.055200,10065.208191,6.112140,5.562165,1971.708922,1984.190151,99.695909,442.300488,...,93.833740,47.556802,22.571916,2.591419,16.511458,2.397855,51.574354,6.219893,2007.775719,181469.701609
std,1.886918e+08,42.824223,23.260653,6742.488909,1.426271,1.104497,30.177889,21.036250,174.963129,461.204124,...,128.549416,66.747241,59.845110,25.229615,57.374204,37.782570,573.393985,2.744736,1.312014,79258.659352
min,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,5.284581e+08,20.000000,58.000000,7500.000000,5.000000,5.000000,1953.500000,1964.500000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129825.000000
50%,5.354532e+08,50.000000,68.000000,9430.000000,6.000000,5.000000,1974.000000,1993.000000,0.000000,368.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,162500.000000
75%,9.071801e+08,70.000000,80.000000,11513.500000,7.000000,6.000000,2001.000000,2004.000000,161.000000,733.750000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,9.241520e+08,190.000000,313.000000,159000.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,1424.000000,547.000000,432.000000,508.000000,490.000000,800.000000,17000.000000,12.000000,2010.000000,611657.000000

In [15]:
# how many missing values are in each column, and how are we going to handle them?
df_train.isna().sum().sort_values(ascending = False)

Pool QC         2042
Misc Feature    1986
Alley           1911
Fence           1651
Fireplace Qu    1000
                ...
1st Flr SF         0
Electrical         0
Central Air        0
Heating QC         0
PID                0
Length: 80, dtype: int64

In [16]:
df_test.isna().sum().sort_values(ascending = False)

Pool QC          874
Misc Feature     837
Alley            820
Fence            706
Fireplace Qu     422
                ...
Heating QC         0
Yr Sold            0
Total Bsmt SF      0
Bsmt Unf SF        0
PID                0
Length: 79, dtype: int64

In [17]:
# BAD PRACTICE! just for Noah's example
# this fills missing values with 0
df_train.fillna(0, inplace = True)
df_test.fillna(0, inplace = True)

In [18]:
df_train.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
109,533352170,60,RL,0.0,13517,Pave,0,IR1,Lvl,AllPub,...,0,0,0,0,0,0,3,2010,WD,130500
544,531379050,60,RL,43.0,11492,Pave,0,IR1,Lvl,AllPub,...,0,0,0,0,0,0,4,2009,WD,220000
153,535304180,20,RL,68.0,7922,Pave,0,Reg,Lvl,AllPub,...,0,0,0,0,0,0,1,2010,WD,109000
318,916386060,60,RL,73.0,9802,Pave,0,Reg,Lvl,AllPub,...,0,0,0,0,0,0,4,2010,WD,174000
255,906425045,50,RL,82.0,14235,Pave,0,IR1,Lvl,AllPub,...,0,0,0,0,0,0,3,2010,WD,138500

## 2. Preprocessing & Modeling

In [19]:
# all features
features = ['MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area', 'Street', 'Alley', 'Lot Shape', 'Land Contour',
            'Utilities', 'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 
            'House Style', 'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style', 'Roof Matl',
            'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 
            'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1', 'BsmtFin Type 2', 'BsmtFin SF 2',
            'Bsmt Unf SF', 'Total Bsmt SF', 'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF', '2nd Flr SF',
            'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
            'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional', 'Fireplaces', 'Fireplace Qu', 'Garage Type',
            'Garage Yr Blt', 'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual', 'Garage Cond', 'Paved Drive',
            'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC', 
            'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type']

In [20]:
# exception to the lowercase rule, capital X vs lower case y
X = df_train[features]
y = df_train['SalePrice']

In [30]:
# setting dummies
X = pd.get_dummies(data = X, columns = ['MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Land Contour', 'Lot Config', 
                                        'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 
                                        'Roof Style', 'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 
                                        'Foundation', 'Heating', 'Garage Type', 'Misc Feature', 'Sale Type', 'Mo Sold'])
X.head()

KeyError: "None of [Index(['MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Land Contour',\n       'Lot Config', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type',\n       'House Style', 'Roof Style', 'Roof Matl', 'Exterior 1st',\n       'Exterior 2nd', 'Mas Vnr Type', 'Foundation', 'Heating', 'Garage Type',\n       'Misc Feature', 'Sale Type', 'Mo Sold'],\n      dtype='object')] are in the [columns]"

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [23]:
print(X_train.shape)
print(X_test.shape)

(1538, 243)
(513, 243)

In [24]:
from sklearn.dummy import DummyRegressor

In [25]:
# fitting our data based on training data?
base_mean = DummyRegressor(strategy = 'mean')

base_mean.fit(X_train, y_train)

DummyRegressor(constant=None, quantile=None, strategy='mean')

In [26]:
y_hat_base_train = base_mean.predict(X_train)
y_hat_base_test = base_mean.predict(X_test)

In [27]:
# original units in dollars with this formula
np.sqrt(mean_squared_error(y_train, y_hat_base_train))

# on average, our predictions using the dummy regressor model is off by 80k

79526.85223710592

In [28]:
# test data
np.sqrt(mean_squared_error(y_test, y_hat_base_test))

78375.26238032707

In [29]:
lr = LinearRegression()
lr.fit(X_train, y_train)

ValueError: could not convert string to float: 'Reg'

In [1345]:
y_hat_lr_train = lr.predict(X_train)
y_hat_lr_test = lr.predict(X_test)

In [1346]:
y_hat_lr_train

array([193780.56921861, 218198.15366402, 131035.54789835, ...,
       180999.99999973,  96139.13999063, 226378.43878232])

In [1347]:
# now our predictions are significantly better than the dummy regressor
np.sqrt(mean_squared_error(y_train, y_hat_lr_train))

18324.529555644265

In [1348]:
# test data linear regression
np.sqrt(mean_squared_error(y_test, y_hat_lr_test))

22873.236586894673

In [1349]:
X_kaggle = df_test[features]

In [1350]:
X_kaggle.head()

,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
Id,,,,,,,,,,,,,,,,,,,,,
2658,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,0,4,2006,WD
2718,90,RL,0.0,9662,Pave,0,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,0,0,8,2006,WD
2414,60,RL,58.0,17104,Pave,0,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,0,0,9,2006,New
1989,30,RM,60.0,8520,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,0,7,2007,WD
625,20,RL,0.0,9500,Pave,0,IR1,Lvl,AllPub,Inside,...,0,185,0,0,0,0,0,7,2009,WD

In [1351]:
X_kaggle = pd.get_dummies(data = X_kaggle, columns = ['MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config', 
            'Land Slope', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 
            'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Exter Qual', 'Exter Cond', 'Foundation', 
            'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC', 
            'Central Air', 'Electrical', 'Kitchen Qual', 'Functional', 'Fireplace Qu', 'Garage Type', 'Garage Finish', 
            'Garage Qual', 'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence', 'Misc Feature', 'Mo Sold', 'Sale Type'])

In [1352]:
X_kaggle.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_COD,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD
Id,,,,,,,,,,,,,,,,,,,,,
2658,69.0,9142,6,8,1910,1950,0.0,0,0,1020,...,0,0,0,0,0,0,0,0,0,1
2718,0.0,9662,5,4,1977,1977,0.0,0,0,1967,...,0,0,0,0,0,0,0,0,0,1
2414,58.0,17104,7,5,2006,2006,0.0,554,0,100,...,0,0,0,0,0,0,1,0,0,0
1989,60.0,8520,5,6,1923,2006,0.0,0,0,968,...,0,0,0,0,0,0,0,0,0,1
625,0.0,9500,6,5,1963,1963,247.0,609,0,785,...,0,0,0,0,0,0,0,0,0,1

In [1353]:
# ValueError: shapes (878,311) and (330,) not aligned: 311 (dim 1) != 330 (dim 0)
X_kaggle['SalePrice'] = lr.predict(X_kaggle)

ValueError: shapes (878,311) and (330,) not aligned: 311 (dim 1) != 330 (dim 0)

In [1039]:
X_kaggle.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Land Contour_Lvl,Lot Config_Corner,Lot Config_CulDSac,Lot Config_FR2,Lot Config_FR3,Lot Config_Inside,Land Slope_Gtl,Land Slope_Mod,Land Slope_Sev,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
2658,69.0,9142,6,8,1910,1950,0.0,0,0,1020,...,1,0,0,0,0,1,1,0,0,139994.943613
2718,0.0,9662,5,4,1977,1977,0.0,0,0,1967,...,1,0,0,0,0,1,1,0,0,151863.029681
2414,58.0,17104,7,5,2006,2006,0.0,554,0,100,...,1,0,0,0,0,1,1,0,0,216518.291429
1989,60.0,8520,5,6,1923,2006,0.0,0,0,968,...,1,0,0,0,0,1,1,0,0,116194.140685
625,0.0,9500,6,5,1963,1963,247.0,609,0,785,...,1,0,0,0,0,1,1,0,0,195793.312267

In [1040]:
# fit our model to the training data, then we predicted sales price using testing data

In [1041]:
#
output = X_kaggle['SalePrice']

In [1042]:
output.head()

Id
2658    139994.943613
2718    151863.029681
2414    216518.291429
1989    116194.140685
625     195793.312267
Name: SalePrice, dtype: float64

In [1043]:
# this is how we submit to kaggle
output.to_csv('./datasets/Linear_Categorical.csv')

C:\Users\16463\AppData\Local\Continuum\anaconda3\envs\dsi\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [ ]:
# benchmarking is around $20,000 USD for mean squared error
# use other models besides linear regression if you want to do well
# Mnist? handwriting data, train a model to identify what numbers are based on the handwriting images